
body {

    background-color:black;
    box-sizing: border-box;
    padding: 125px;


}

div.center {
    background-color:#f1f1f1;
    padding: 1px 100px;
    max-width: 600px;
    margin: 0px auto;
    border: 8px solid white;

    text-align: left;



}